repositories/
*.tar.?z*
*.zip
*.tgz
*.tar
*.pdf
*.ttf
*.otf
*.bkp
*.dfont
*.html
*.el
*.js
*.orig
*.bz2
*.gz
*.dawg
*.so
*.txt
*.epub
*.mobi
web/fatfree/fatfree.sourceforge.net/
*.png

e/divers-el/els/
