repositories/
*.tar.?z*
*.deb
*.zip
*.tgz
*.tar
*.pdf
*.ttf
*.otf
*.bkp
*.dfont
*.html
*.el
*.js
*.orig
*.bz2
*.gz
*.dawg
*.so
*.txt
*.epub
*.mobi
*.png
web/fatfree/fatfree.sourceforge.net/
xap/mozilla-firefox-trunk/slack-desc
e/divers-el/els/
n/blerg/blerg.dominionofawesome.com/
