Alien/
repositories/
*.tar.?z*
*.deb
*.zip
*.tgz
*.txz
*.tar
*.pdf
*.ttf
*.otf
*.bkp
*.dfont
*.html
*.el
*.js
*.orig
*.bz2
*.gz
*.dawg
*.so
*.txt
*.epub
*.mobi
*.png
web/fatfree/fatfree.sourceforge.net/
xap/mozilla-firefox-trunk/slack-desc
e/divers-el/els/
n/blerg/blerg.dominionofawesome.com/
ap/ack/ack-standalone
a/linux/.config
a/linux/latest.sh
a/linux/patches/
xap/st/patches/st-scrollback*
xap/st/patches/st-vertcenter*
*.rpm
/d/crystal/completion.zsh
*.pk3
*.pk4
/xap/android-x86/android-8.1-r1/
/xap/android-x86/usr
/y/minecraft-launcher/minecraft-launcher.svg
/ap/hledger-bin/LICENSE.*
/ap/hledger-bin/*.md.*
/xap/x49gp/newrplfw.bin
